*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  max-width: 1440px;
  margin: auto; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: gray; }

.heading-primary {
  font-family: 'raleway', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: white;
  line-height: 1.5; }

.heading-secondary {
  font-family: 'raleway', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #070439; }

.heading-tertiary {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #070439; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-smedium {
  margin-bottom: 3rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-huge {
  margin-bottom: 10rem !important; }

.u-margin-bottom-really-huge {
  margin-bottom: 20rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-top-really-huge {
  margin-top: 20rem !important; }

.u-text-center {
  text-align: center !important; }

.u-max-width-80-percent {
  max-width: 80%; }

.u-display-block {
  display: block; }

.btn {
  background-color: #05d69b;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  border-radius: .4rem;
  letter-spacing: .5px;
  box-shadow: 0px 0.4rem 0.7rem rgba(0, 0, 0, 0.2); }
  .btn, .btn:link, .btn:visited {
    text-decoration: none; }
  .btn--small {
    padding: 1rem 3rem;
    font-size: 1.4rem;
    font-weight: 300; }
  .btn--medium {
    padding: 1.3rem 8rem;
    font-size: 1.5rem;
    font-weight: 400;
    display: inline-block; }
  .btn--large {
    padding: 2.5rem 9rem;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    display: inline-block; }
  .btn--transparent {
    background-color: transparent;
    box-shadow: none; }

.footer {
  margin-top: -9rem;
  background-color: #070439;
  padding: 0 8rem 10rem 8rem; }
  .footer__container {
    padding-top: 35rem;
    display: flex; }
  .footer * {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none; }

.contact-container {
  display: flex;
  flex-basis: 22%;
  flex-direction: column;
  padding-right: 3rem; }
  .contact-container__logo {
    width: 20rem; }
  .contact-container__item:not(:last-child) {
    margin-bottom: 1.5rem; }
  .contact-container__link {
    display: flex;
    align-items: center; }
  .contact-container__icon {
    margin-right: 2rem; }
  .contact-container__contact-value {
    white-space: nowrap; }

.nav-container {
  display: flex;
  flex-basis: 42.7%;
  justify-content: space-evenly;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff; }

.nav-list-container .heading-tertiary {
  color: #fff; }

.nav-list {
  list-style: none; }
  .nav-list__item {
    margin-bottom: 1.5rem; }

.subscribe-container {
  display: flex;
  flex-basis: 35.3%;
  flex: 1;
  justify-content: flex-end; }

.subscribe-sub-container {
  display: flex;
  flex-direction: column;
  max-width: 38rem;
  padding-left: 3rem; }
  .subscribe-sub-container__paragraph {
    font-weight: 600;
    color: #fff; }

.subscribe-form__email {
  width: 100%;
  border: none;
  border-radius: .4rem;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 4rem;
  font-family: inherit;
  font-size: inherit;
  color: gray; }
  .subscribe-form__email::placeholder {
    color: rgba(143, 143, 143, 0.6); }

.subscribe-form .btn {
  display: block;
  max-width: 19rem;
  margin-left: auto; }

.header {
  height: 90vh;
  width: 100%;
  background-image: linear-gradient(to right bottom, #282385, #bbb8fa);
  padding: 5rem 8rem 0 8rem;
  background-size: cover;
  position: relative; }
  .header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem; }
  .header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 25%;
    left: 0;
    padding-left: inherit;
    padding-right: inherit; }
  .header__heading-box {
    flex-basis: 50%;
    margin-top: -7rem; }
  .header__image {
    margin-right: 4rem; }

.header__logo {
  height: 5rem; }

.main {
  background-color: #fff;
  transform: skewY(7deg);
  margin-top: -9rem;
  padding: 18rem 8rem 18rem 8rem; }

.section-features {
  transform: skewY(-7deg); }
  .section-features__container {
    display: flex;
    justify-content: space-between; }
  .section-features__image-box {
    flex-basis: 35%;
    align-self: center; }
  .section-features__image {
    width: 90%; }
  .section-features__grid {
    flex-basis: 57%;
    display: grid;
    grid-template-columns: 30rem minmax(3rem, 40rem) 30rem;
    grid-row-gap: 5rem; }

.feature--1 {
  grid-column: 1 / 2; }

.feature--2 {
  grid-column: 3 / 4; }

.feature--3 {
  grid-column: 1 / 2; }

.feature--4 {
  grid-column: 3 / 4; }

.section-sign-up {
  transform: skewY(-7deg);
  max-width: 75rem;
  margin: 0 auto; }
  .section-sign-up__paragraph {
    color: #282385;
    font-weight: 700; }

.sign-up-form__email {
  border: none;
  border-radius: .4rem;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
  margin-right: 3rem;
  width: 55%;
  min-width: 30rem;
  padding: 1.5rem 4rem;
  font-family: inherit;
  font-size: inherit;
  color: gray; }
  .sign-up-form__email::placeholder {
    color: rgba(143, 143, 143, 0.6); }
