// COLORS
$color-primary-soft-blue: hsl(243, 86%, 85%);
$color-primary-very-dark-blue: hsl(243, 87%, 12%);
$color-secondary-green: hsl(163, 95%, 43%);
$color-secondary-dark-blue: hsl(243, 58%, 33%);
$color-grey: hsl(0, 0%, 50%);


//FONT
$font-size-default: 1.6rem;
	


	
