.footer {
    margin-top: -9rem;
    background-color: $color-primary-very-dark-blue;
    padding: 0 8rem 0 8rem;

  &__container {
    padding-top: 20rem;
  }
  
}

// .contact-container {

//   &__logo {

//   }

//   &__item {

//   }

//   &_link {

//   }

//   &__icon{

//   }

// }

// .nav-container {

// }

// .nav-list-container {

// }

// .nav-list {

//   &__item{

//   }

//   &__link{

//   }

// }

// .subscribe-container {


//     &__paragraph {

//     }
// }

// .subscribe-form {

//   &__email {

//   }
// }