.main {
  background-color: #fff;
  transform: skewY(7deg);
  margin-top: -9rem;
  padding: 18rem 8rem 18rem 8rem;
}


.section-features {
  transform: skewY(-7deg);

  &__container {
    display: flex;
    justify-content: space-between;

  }

  &__image-box {
      flex-basis: 35%;

      align-self: center;
    //   background-color: rgba(128, 128, 0, .3);
  }

  &__image {
      width: 90%;
  }

  &__grid {
    flex-basis: 57%;
    
    display: grid;
    grid-template-columns: repeat(2, minmax(25rem, 30rem));
    grid-column-gap: 15%;
    grid-row-gap: 5rem;
  }
} //End section-features

.section-sign-up {
  transform: skewY(-7deg);

  &__paragraph {
    color: $color-secondary-dark-blue;
    font-weight: 700;
    max-width: 70rem;
    margin: 0 auto ;
  }

} //End section-signup

.sign-up-form {
  &__email {
    border: none;
    border-radius: .4rem;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
    margin-right: 3rem;
    width: 25%;
    min-width: 30rem;
    padding: 1.5rem 4rem;
    color: $color-secondary-dark-blue;

    &::placeholder {
      color: rgba(143, 143, 143, 0.5);
    }
  }
}



